<footer id="eb-footer">
  <div class="section-content container-fluid">
    <div class="mx-4 flex justify-between py-8">
      <p class="text-white text-12">&copy;
        {{"now"|date('Y')}}
        {{ options.copyright }}</p>

      <ul class="flex">
        {% for item in footer.get_items %}
          <li class="{{ item.classes | join(' ') }} text-white text-12">
            <a href="{{ item.link }}" title="{{ item.title }}">{{ item.title }}</a>
          </li>
          {% if loop.index is odd %}
            <span class="text-white mx-2">|</span>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="section-background"></div>
</footer>