<section id="eb-hero" class="h-screen relative flex items-center">
  <div class="section-content container">
    {% if module.timeline %}
      <div class="timeline{% if module.timelineLast %} last{% endif %}"></div>
    {% endif %}
    {% if module.title %}
      <small class="block text-16 text-gray-700 mb-6">{{ module.title }}</small>
    {% endif %}
    <h1 class="text-white mb-6">{{ module.headline }}</h1>
    <div class="w-full flex">
      {% for item in module.icons %}
        <a href="{{ item.link.url }}" class="inline-block{% if loop.index is odd %} mr-16{% endif %}" title="{{ item.link.title }}" target="{{ item.link.target }}">
          {% set image = TimberImage(item.icon) %}
          <img src="{{ image.src }}" alt="{{ image.alt }}">
        </a>
      {% endfor %}
    </div>
  </div>
  <div class="section-background">
    <div class="absolute h-full w-full bg-blue-transparent z-10"></div>
    {% set imageSmall = TimberImage(module.imageSmall) %}
    <img src="{{ imageSmall.src|resize(640) }}" class="absolute h-full w-full object-cover bg-fixed block sm:hidden" alt="{{ imageSmall.alt }}">
    {% set imageMedium = TimberImage(module.imageMedium) %}
    <img src="{{ imageMedium.src|resize(1280) }}" class="absolute h-full w-full object-cover bg-fixed hidden sm:block lg:hidden" alt="{{ imageMedium.alt }}">
    {% set imageLarge = TimberImage(module.imageLarge) %}
    <img src="{{ imageLarge.src|resize(2560) }}" class="absolute h-full w-full object-cover bg-fixed hidden lg:block" alt="{{ imageLarge.alt }}">
  </div>
</section>